In [1]:
import numpy as np
import pandas as pd

###  Preparing X and Y data for the Model

In [2]:
path = '../vol/intermediate_result/x.csv'

x = pd.read_csv(path)

In [9]:
x.head(10)

,production_budget,title_year,aspect_ratio,duration.1,cast_total_facebook_likes,budget,imdb_score,gross
0,425000000.0,2009.000000,1.780000,178.000000,4834.0,2.370000e+08,7.9,7.605058e+08
1,306000000.0,2002.130733,2.126976,108.577186,143.0,4.045539e+07,7.1,4.831933e+07
2,300000000.0,2007.000000,2.350000,169.000000,48350.0,3.000000e+08,7.1,3.094042e+08
3,300000000.0,2015.000000,2.350000,148.000000,11700.0,2.450000e+08,6.8,2.000742e+08
4,275000000.0,2012.000000,2.350000,164.000000,106759.0,2.500000e+08,8.5,4.481306e+08
5,275000000.0,2013.000000,2.350000,150.000000,45757.0,2.150000e+08,6.5,8.928991e+07
6,275000000.0,2012.000000,2.350000,132.000000,1873.0,2.637000e+08,6.6,7.305868e+07
7,260000000.0,2010.000000,1.850000,100.000000,2036.0,2.600000e+08,7.8,2.008073e+08
8,258000000.0,2007.000000,2.350000,156.000000,46055.0,2.580000e+08,6.2,3.365303e+08
9,258000000.0,2007.000000,2.350000,156.000000,46055.0,2.580000e+08,6.2,3.365303e+08

In [4]:
y = x['worldwide_gross']

In [7]:
x = x.drop('worldwide_gross' , axis = 1)

In [8]:
x.shape, y.shape

((4104, 8), (4104,))

## Training the Model

### Split Data in Test and Train Data

In [17]:
#Random Split of data

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.4,random_state=1)

In [20]:
print( len(x),
       len(x_train),
       len(x_test)
     )

4104 2462 1642

In [ ]:
x.heaed()

### Model Fitting

In [15]:
#Linear models import
#Lasso regression module
#object model

from sklearn.linear_model import Lasso

model = Lasso()

In [12]:
model.fit(x_train , y_train)

NameError: name 'x_train' is not defined